<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCampus</title>
    <link rel="stylesheet" href="../css/asiento.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <a onclick="history.back()"><i class='bx bx-left-arrow-alt'></i></a>
        <h2 class="cinema-selection">Choose Seat</h2>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <div class="image-text">
            <img src="../storage/img/image.webp" alt="" class="imagen-ovalada">
            <p>Screen This Way</p>
        </div>
    </main>
    <section class="asientos">
        <article class="asientos__normal">
            <div fila="1">
                <small>A</small>
                <div class="asientos__lista">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
            <div fila="2">
                <small>B</small>
                <div class="asientos__lista">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
        </article>
        <article class="asientos__preferenciales">
            <div colum="3">
                <small>C</small>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
            <div colum="4">
                <small>D</small>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div colum="5">
                <small>E</small>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
            <div colum="6">
                <small>F</small>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
        </article>
    </section>
    <div class="precio">
        <h3>Price</h3>
        <h2>$24,99</h2>
    </div>
    <section class="button__trailer__buy">
        <button class="book-now">Buy ticket</button>
    </section>    
</div>
<script src="../js/module/pelicula.js"></script>
</body>
</html>
