<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCampus</title>
    <link rel="stylesheet" href="../css/asiento.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <a id="back" href="#"><i class='bx bx-left-arrow-alt'></i></a>
        <h2 class="cinema-selection">Choose Seat</h2>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <div class="image-text">
            <img src="../storage/img/image.webp" alt="" class="imagen-ovalada">
            <p>Screen This Way</p>
        </div>
    </main>
    <section class="asientos">
        <article class="asientos__normal" id="seatsContainerFront">

        </article>
        <article class="asientos__preferenciales" id="seatsContainer">

        </article>
    </section>
    
    <section class="schedule">
        <div class="days" id="days-container"></div>
        <div class="hour-price" id="hour-price-container">       
    </section>    
    <div class="container__footer">
        <div class="precio">
            <h3>Price</h3>
            <h2>$0</h2>
        </div>
            <a href="./pago.html"><button class="book-now">Buy ticket</button></a>
    </div>

       
       

<script src="../js/module/asiento.js"></script>
</body>
</html>
