<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Order Summary</title>
    <link rel="stylesheet" href="../css/boleto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a onclick="history.go(-3)"><i class='bx bx-left-arrow-alt'></i></a>
        <h2 class="title">Ticket</h2>
        <a><i class="bi bi-three-dots-vertical"></i></a>
    </header>

    <main class="ticket">
        <section class="info-movie"></section>

        <section class="ticket-info">
            <div class="info">
                <div class="info-cinema">
                    <div class="text-cinema">
                        <p class="label">Cinema</p>
                        <p class="value"> CAMPUSLANDS</p>
                    </div>
                    <div class="image-cinema">
                        <img src="https://ugc.production.linktr.ee/ZJXG7pbLSwyitEyTNSc8_O1cTAW6KAObqc4un?io=true&size=avatar-v3_0" alt="">
                    </div>
                </div>
            </div>

            <section class="info-ticket"></section>
            <div class="custom-dashed-line"></div>
            <div class="barcode">
                <svg id="barcode"></svg>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <script src="../js/module/boleto.js"></script>
</body>
</html>
