<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCampus</title>
    <link rel="stylesheet" href="../css/pelicula.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <a href="../index.html"><i class='bx bx-left-arrow-alt'></i></a>
        <h2 class="cinema-selection">Cinema Selection</h2>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <div id="movie-detail-container">
        </div>
    </main>
    <section class="button__trailer__buy">
        <button class="trailer">Watch Trailer</button>
        <button class="book-now">Book Now</button>
    </section>
    <footer>
        <nav class="bottom-nav">
            <a href="../index.html" class="nav-item active">
                <i class='bx bxs-home'></i>
                <span>Home</span>
            </a>
            <a href="../views/search.html" class="nav-item">
                <i class='bx bx-search'></i>
                <span>Browse</span>
            </a>
            <a href="#" class="nav-item">
                <i class='bx bx-credit-card'></i>
                <span>Tickets</span>
            </a>
            <a href="#" class="nav-item">
                <i class='bx bx-user'></i>
                <span>Profile</span>
            </a>
        </nav>
    </footer>
</div>
<script src="../js/module/pelicula.js"></script>
</body>
</html>
