<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCampus</title>
    <link rel="stylesheet" href="../css/pelicula.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <a href="../index.html"><i class='bx bx-left-arrow-alt'></i></a>
        <h2 class="cinema-selection">Cinema Selection</h2>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <div id="movie-detail-container">
        </div>
    </main>
    <section>
        <div class="detalle_video-cinema">
            <p class="cinema">Cinema</p>
            <div class="cinema-info">
                <div class="texto-cinema">
                    <p class="place">Campuslands</p>
                    <p class="place-city">Zona Franca, Floridablanca</p>
                </div>
                <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="Antonio Banderas">
            </div>
        </div>
    </section>
    <section class="button__trailer__buy">
        <a href="./asiento.html"><button class="book-now">Book Now</button></a> 
    </section>    
</div>
<script src="../js/module/pelicula.js"></script>
</body>
</html>
