<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cineCampus</title>
    <link rel="stylesheet" href="../css/pelicula.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <i class='bx bx-left-arrow-alt'></i>
        <h2 class="cinema-selection">Cinema Selection</h2>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <div id="movie-detail-container">
        </div>
    </main>
    <footer>
        <button class="book-now">Book Now</button>
    </footer>
</div>
<script src="../js/module/pelicula.js"></script>
</body>
</html>
