header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #111;
    color: white;
}

header .bx {
    /* border: 1px solid red; */
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

header .bx:hover {
    color: #ff0000;
}
html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.book-now {
    background-color: red;
    color: #fff;
    border: none;
    width: 55%;
    height: 58px;
    /* cursor: pointer; */
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    position: fixed;


}
.button__trailer__buy{
    display: flex;
    width: 60%;
    height: 6vh;
    justify-content: space-around;
    margin-left: 150px;
    /* border: 1px solid red; */
    margin-top: -58px
}


.book-now:hover{
    background-color: #111;
    color: red;
    border: 1px solid red;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}
.cinema-selection {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    margin-top: 27px;
    /* border: 1px solid red; */
    font-weight: normal;
    font-size: 21px
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.precio{
    /* margin-top: 750px; */
    display: flex;
    flex-direction: column;
    width: 9rem;
    height: 3.5rem;
    /* border: 1px solid white; */
    color: #fff;
    margin-left: 35px;
}

.precio h2{
    
    margin: 0px
}

.precio h3{
    font-weight: normal;
    margin: 2px;
}

.asientos{
    padding: 0 15px;
    /* border: 1px solid red; */
    margin-top: 18px;
}
.asientos__normal{
    margin-bottom: 52px !important;
}
.asientos__normal, 
.asientos__preferenciales{
    display: flex;
    gap: 11px;
    margin: 15px 0;
    flex-direction: column;
    align-items: center;
}
.asientos__normal div,
.asientos__preferenciales div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.asientos__lista button,
.asientos__preferenciales button{
    font-family: "Inter_18pt-Regular";
    outline: none;
    border: none;
    width: 33px;
    height: 33px;
    margin: 0 3.2px;
    background: #323232;
    border-radius: 5px;
    /* border: 1px solid #CECECE; */
}

.asientos small{
    margin-left: 15px;
    color: #fff;
}

.image-text{
    margin-top: -12px;
    display: flex;
    width: 26.78rem;
    height: 4rem;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
    top: 0px;
}


.image-text p{
    font-size: 13px;
    margin-top: 0px;
    color: white;
    position: absolute;
    bottom: 0.5rem;
    left: 11rem;
}

.image-text img{
    margin-left: 18px;
    width: 85%;
}


.status{
    display: flex;
    justify-content: center;
    /* gap: 1.4rem; */
    align-items: center;
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    /* color: white; */
    margin-top: 12.8px;
    margin-bottom: 20px;
}
.status p{
    font-size: 12.5px;
    color: white;
}


.status i{
    margin-right: 12px;
    margin-left: 35px;
    font-size: 15px;
}

.status :nth-child(1){
    color: #323232;
}

.status :nth-child(3){
    color: #CECECE;
}

.status :nth-child(5){
    color: #FE0000;
}