header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #111;
    color: white;
}

header .bx {
    margin-top: 30px;
    font-size: 30px; 
    cursor: pointer;
}

.cinema-selection {
    flex-grow: 1; 
    text-align: center; 
    padding: 10px;
    margin: 0 10px; 
    margin-top: 30px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column; 
}

.book-now {
    background-color: red;
    color: white;
    border: none;
    display: block;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    cursor: pointer;
    margin-bottom: 80px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}


footer {
    background-color: #222;
    padding: 20px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    flex-grow: 1;
}

.nav-item span{
    font-size: 13px;
}

.nav-item i {
    font-size: 24px;
    width: 40px;
    height: 20px;
    display: block;
    margin: 0 auto 5px auto;
}

.nav-item.active {
    color: #ff0000; 
}

.nav-item.active img {
    filter: invert(49%) sepia(94%) saturate(2737%) hue-rotate(345deg) brightness(95%) contrast(105%); /* Aplicar color rojo al ícono activo */
}

#movie-detail-container {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: center;
}

.movie-image {
    width: 90%;
    height: auto;
    clip-path: inset(80px 0px 150px 0px);
    margin-top: -100px;
    margin-left: 20px;
}

h4 {
    margin-left: 30px;
    margin-top: -120px;
    color: #fff;
    font-size: 16px;
}

p {
    margin-left: 30px;
    color: #aeaeae;
    font-size: 12px;
    margin-top: -18px;
}

h5 {
    color: #fff;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
}

h3 {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 8px;
    margin-bottom: 20px;
    margin-top: -10px;
}



/* CSS */
.proyecciones {
    border: 2px solid #ccc; /* Borde del cuadro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
 /* Color de fondo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    max-width: 300px; /* Ancho máximo del cuadro */
    margin-left: 20px;
    margin-top: 25px; /* Margen superior/inferior y centrado horizontal */
}

.proyecciones h6 {
    margin-top: 0px;
    font-size: 16px; /* Tamaño de la fuente del título */
    font-weight: bold; /* Negrita */
    margin-bottom: 0px; /* Espacio debajo del título */
    color: white; /* Color del texto */
}

.proyecciones ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding-left: 0; /* Eliminar sangría de la lista */
}

.proyecciones li {
    padding: 8px 0; /* Espacio entre los elementos de la lista */
    border-bottom: 1px solid #fff;
    color: #aeaeae; 
    font-size: 14px;/* Línea divisoria entre elementos */
}

.proyecciones li:last-child {
    border-bottom: none; /* Quitar la línea del último elemento */
}

